$doc-icon-notice:                 $notice-document-icon-color;
$doc-icon-proposed_rule:          $proposed-rule-document-icon-color;
$doc-icon-rule:                   $rule-document-icon-color;
$doc-icon-presidential_document:  $presidential-document-icon-color;
$doc-icon-correction:             $correction-document-icon-color;
$doc-icon-uncategorized:          $uncategorized-document-icon-color;
